* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
}

html {
  font-size: 62.5%;
}

.container{
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: relative;
  display: grid;
  place-items: center;
}

.container.dark{
  background-color: #262626;
}

.toggle{
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: 2rem;
  right: 5rem;
  background-color: #eee8e1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  opacity: .9;
  cursor: pointer;
}

.container.dark .toggle{
  background-color: #464646;
}

.toggle i{
  font-size: 6rem;
}

.container.dark .toggle i{
  color: #ddd;
}

.card{
  width: 48rem;
  height: 25rem;
  background-color: beige;
  border-radius: 2.5rem;
  padding-left: 2rem;
  position: relative;
  display: flex;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.4);
}

.container.dark .card{
  background-color: #353535;
}

.card-map{
  width: 35rem;
  height: 12rem;
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.3;
}

.card-chip{
  width: 4rem;
  height: 4rem;
}

.card-left{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.container.dark .card{
  color: #ccc;
}

.card-type {
letter-spacing: .3rem;
text-transform: uppercase;
font-weight: 700;
z-index: 10;
}

.card-num{
font-weight: bold;
font-size: 2rem;
}

.card-text{
  font-weight: 400;
}

.card-date{
  font-size: 2rem;
  font-weight: 500;
}

.card-holder{
  font-size: 2rem;
  font-weight: 400;
}

.card-right{
  display: flex;
  align-items: flex-end;
  padding-bottom: 2rem;
  z-index: 10;
}

.red-circle,
.orange-circle
{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: red;

}

.red-circle{
  background-color: red;
}

.orange-circle{
  background-color: coral;
  margin-left: -2rem;
  opacity: 0.8;
}